.venv/
venv/
env/
ENV/


# Python cache
**pycache**/
*.pyc
*.pyo
*.pyd

# ML Models & Weights

# PyTorch

*.pt
*.pth
*.bin
*.safetensors

# TensorFlow / Keras

*.h5
*.pb
*.ckpt

# Scikit-learn / Joblib / Pickle

*.joblib
*.pkl
*.pickle

# ONNX

*.onnx

# HuggingFace models

models/
transformer/
tokenizer.json
tokenizer_config.json
vocab.json
merges.txt
special_tokens_map.json

# LangChain / Embeddings

index.faiss
*.npy
*.npz

# MLflow & artifacts

mlruns/
artifacts/
runs/
checkpoints/

# Logs & temp data

*.log
*.tmp
*.cache
*.egg-info/

# Data files (large)


*.csv
*.tsv
*.parquet
*.feather
*.sqlite
*.db

# Allow only small sample datasets:

!data/sample_*.csv

# -------------------------

# Jupyter

.ipynb_checkpoints/

# -------------------------

# IDE & System

# -------------------------

.vscode/
.idea/
.DS_Store
Thumbs.db


# Docker

*.tar
docker-data/
