# Virtual Environment
.venv/

# MLflow
mlruns/
mlflow.db
*.db

# Model files (often large)
*.pkl
*.h5
*.pb
*.pt
*.pth
*.onnx
*.safetensors

# Logs
*.log
output.log

# Docker
docker-compose.yml

# Environment variables
.env

# Artifacts (models, data)
artifacts/transformer_model_final/model.safetensors
artifacts/transformer_model_final/vocab.txt
artifacts/transformer_model_final/label_encoder.pkl

# Images
*.png

# Python cache
__pycache__/
*.pyc
*.pyo